
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right,rgba(21, 26, 38, 1) 0%, rgba(21, 26, 38, 0) 50%, rgba(21, 26, 38, 1) 100%);
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.gradient-text {
  background-image: linear-gradient(to right, #9EFEBF 100%, #0F8136 100%, #67FE9B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.radial-gradient-background {
  position: relative;
  background-image: radial-gradient(circle, #0F8136 0%, #9EFEBF 25%, #15A546 50%, #9EFEBF 75%);
}

.radial-login-background {
  background-image: radial-gradient(circle, #0F8136 0%, #15A546 25%, #67FE9B 50%,);
}

